body {
  max-width: 1560px;
  margin: 0 auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  font-family: 'Clash Grotesk', sans-serif;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

:root {
  --border-color: #DEE5FF;
}

/* coustom css */
.custom-shadow{
   box-shadow: 0px 10px 24px #d6daeb;
}

.custom-border {
  border: 2px solid var(--border-color);
  border-radius: 8px; /* optional */
  padding: 10px;
}
/*  */

#mobile-menu {
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Custom */
.blur-puff{
  filter: blur(1.2px);
}
.text-xxs{
   font-size: 13px;
}
.text-xsl{
   font-size: 9px;
}
.border-4xl{
  border-radius: 30px 35px;
}
.custom-shadow{
  box-shadow: 20px 20px 24px #d6daeb ;
}
/*  */

.about-bg {
  background-color: #EBF0FF;
}

.nav-link {
  position: relative;
  font-weight: 600;
  color: #000;
  transition: color 0.8s;
}
.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2563eb; /* Tailwind blue-600 */
  transition: width 0.8s;
}
.nav-link:hover {
  color: #2563eb;
}
.nav-link:hover::after {
  width: 100%;
}

/* Hero cards */
.bg-div {
  background-image: url("../img/home_page_img.webp");
  background-size: cover; /* makes it fit */
  background-position: center; /* centers the image */
  border-radius: 40px 40px;
  width: 100%;
}

.bg-dot-div {
  background-image: url("../img/dots_img.webp");
  background-size: cover; /* makes it fit */
  background-position: center; /* centers the image */
  border-radius: 40px 40px;
  width: 100%;
}

/*hero card button */
@media (min-width: 308px) and (max-width: 330px) {
  .your-div {
    padding-top: 34px; 
  }
}
@media (min-width: 331px) and (max-width: 378px) {
  .your-div {
    padding-top: 41px; /* For > 400px */
  }
}
@media (min-width: 378px) and (max-width: 500px) {
  .your-div {
    padding-top: 49px; 
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .your-div {
    padding-top: 90px; 
  }
}

@media (min-width: 1000px) and (max-width: 1440px) {
  .your-div {
    padding-top: 119px; 
  }
}
@media (min-width: 1440px) {
  .your-div {
    padding-top: 150px; 
  }
}
